*{
    box-sizing: border-box;  
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 20px;
    padding: 5px;
    background-color: whitesmoke;
    border: 1px solid yellow;
    border-radius: 4px;

}
h1{
    text-align: center;
    
}
input[type="text"],
input[type="address"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="radio"],
select,textarea{
    width: 100%;
    padding: 10px;
    border: 4px solid brown;
    border-radius: 5px;
    margin: 10px;
    
}
input[type="submit"]
{
    background-color: purple;
    font-family: cursive;
    cursor:grab;
    width: 100%;

}
input[type="submit"]:hover{
    background-color: skyblue;
}

